.image13Icon {
    width: 256px;
    position: relative;
    border-radius: var(--br-xl);
    height: 256px;
    object-fit: cover;
  }
  .kreoHiveAntiGhosting {
    margin: 0;
    width: 500px;
    position: relative;
    font-size: var(--font-size-5xl);
    font-weight: 400;
    font-family: var(--font-audiowide);
    text-align: left;
    display: flex;
    align-items: center;
  }
  .groupChild {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-15xl);
    background-color: var(--color-deepskyblue);
    width: 79px;
    height: 24px;
  }
  .div {
    position: absolute;
    top: 4px;
    left: 21px;
  }
  .rectangleParent {
    width: 79px;
    position: relative;
    height: 24px;
  }
  .vectorIcon,
  .vectorIcon4 {
    width: 20px;
    position: relative;
    height: 19.1px;
  }
  .vectorIcon4 {
    width: 19.9px;
    height: 19px;
  }
  .groupParent,
  .vectorParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .groupParent {
    align-items: center;
    justify-content: center;
    gap: var(--gap-7xs);
    color: var(--color-white);
  }
  .off,
  .sol,
  .sol1 {
    position: absolute;
  }
  .sol {
    top: 0;
    left: 0;
    font-size: var(--font-size-base);
    font-family: var(--font-audiowide);
  }
  .off,
  .sol1 {
    top: 20px;
  }
  .sol1 {
    left: 0;
    text-decoration: line-through;
    font-weight: 300;
    color: var(--color-dimgray);
  }
  .off {
    left: 46px;
    font-weight: 600;
    color: var(--color-black);
  }
  .solParent {
    width: 92px;
    position: relative;
    height: 32px;
    font-size: var(--font-size-3xs);
  }
  .getDeliveredBy {
    color: var(--color-dimgray);
  }
  .monday1stApril {
    font-weight: 600;
  }
  .getDeliveredByContainer {
    position: relative;
  }
  .span {
    font-weight: 600;
    color: var(--color-gray-500);
  }
  .deliveryFeesContainer {
    position: relative;
    color: var(--color-dimgray);
  }
  .getDeliveredByMonday1stApParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lgi);
  }
  .groupItem {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-8xl);
    background-color: var(--color-gray-500);
    width: 260px;
    height: 55px;
  }
  .clipPathGroup,
  .div1 {
    position: absolute;
    top: 0;
    left: 38px;
  }
  .clipPathGroup {
    height: 100%;
    width: 34.71%;
    right: 65.29%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .groupInner,
  .parent {
    position: absolute;
    top: 15px;
    left: 73px;
    width: 87px;
    height: 26px;
  }
  .groupInner {
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-white);
    width: 49px;
    height: 49px;
  }
  .vectorIcon5 {
    position: absolute;
    height: 41.63%;
    width: 53.06%;
    top: 34.69%;
    right: 22.45%;
    bottom: 23.67%;
    left: 24.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .ellipseParent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 3px;
    left: 207px;
    width: 49px;
    height: 49px;
  }
  .rectangleGroup {
    width: 260px;
    position: relative;
    height: 55px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-audiowide);
  }
  .frameGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-8xs);
  }
  .frameChild {
    width: 60px;
    position: relative;
    height: 60px;
    margin-right:60px;
  }
  .frameParent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-171xl);
  }
  .featuredProduct2,
  .kreoHiveAntiGhostingGamingParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .featuredProduct2 {
    flex-direction: row;
    gap: var(--gap-sm);
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-gray-500);
    font-family: var(--font-inter);
  }
  