.image19Icon {
    width: 284px;
    position: relative;
    border-radius: var(--br-5xs);
    height: 284px;
    object-fit: cover;
  }
  .kreoHiveAntiGhosting,
  .tenKeyLess {
    margin: 0;
  }
  .kreoHiveAntiGhostingContainer1 {
    width: 100%;
  }
  .kreoHiveAntiGhostingContainer {
    width: 284px;
    position: relative;
    font-family: var(--font-audiowide);
    text-align: left;
    display: flex;
    align-items: center;
  }
  .groupChild {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-15xl);
    background-color: var(--color-deepskyblue);
    width: 79px;
    height: 24px;
  }
  .div {
    position: absolute;
    top: 4px;
    left: 21px;
  }
  .rectangleParent {
    width: 79px;
    position: relative;
    height: 24px;
  }
  .vectorIcon,
  .vectorIcon1,
  .vectorIcon2 {
    object-fit: cover;
  }
  .vectorIcon,
  .vectorIcon1,
  .vectorIcon2,
  .vectorIcon3,
  .vectorIcon4 {
    width: 20px;
    position: relative;
    height: 19.1px;
  }
  .vectorIcon4 {
    width: 19.9px;
    height: 19px;
  }
  .groupParent,
  .vectorParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .groupParent {
    align-items: center;
    justify-content: center;
    gap: var(--gap-7xs);
    color: var(--color-white);
  }
  .off,
  .sol,
  .sol1 {
    position: absolute;
  }
  .sol {
    top: 0;
    left: 0;
    font-size: var(--font-size-base);
    font-family: var(--font-audiowide);
  }
  .off,
  .sol1 {
    top: 20px;
  }
  .sol1 {
    left: 0;
    text-decoration: line-through;
    font-weight: 300;
    color: var(--color-dimgray);
  }
  .off {
    left: 46px;
    font-weight: 600;
    color: var(--color-black);
  }
  .frameChild,
  .solParent {
    width: 92px;
    position: relative;
    height: 32px;
  }
  .frameChild {
    width: 22px;
    height: 22px;
  }
  .groupContainer {
    width: 284px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    font-size: var(--font-size-3xs);
  }
  .image19Parent,
  .sponsored {
    display: flex;
    flex-direction: column;
  }
  .image19Parent {
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
  }
  .sponsored {
    width: 311px;
    border-radius: var(--br-xs);
    border: 1px solid var(--color-deepskyblue);
    box-sizing: border-box;
    height: 423px;
    overflow: hidden;
    flex-shrink: 0;
    align-items: flex-end;
    justify-content: center;
    padding: 0 var(--padding-smi);
  }
  .sponsored1,
  .vectorIcon5 {
    position: absolute;
    top: 0;
    left: 9px;
  }
  .vectorIcon5 {
    height: 70%;
    width: 14.29%;
    top: 20%;
    right: 85.71%;
    bottom: 10%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .sponsoredGroup {
    width: 49px;
    position: relative;
    height: 10px;
    font-size: var(--font-size-5xs);
    color: var(--color-darkgray-200);
  }
  .sponsoredParent {
    width: 311px;
    height: 436px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-10xs);
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-gray-500);
    font-family: var(--font-inter);
  }
  