.productDetails1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .brand {
    width: 29px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  .compatibleDevices,
  .connectivityTechnology,
  .description,
  .specialFeature {
    width: 100px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  .connectivityTechnology,
  .description,
  .specialFeature {
    width: 126px;
  }
  .description,
  .specialFeature {
    width: 56px;
  }
  .specialFeature {
    width: 78px;
  }
  .brandParent {
    width: 126px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
  }
  .kreo {
    width: 28px;
    display: flex;
    align-items: center;
  }
  .gamingConsoleWin,
  .kreo,
  .usbC {
    position: relative;
  }
  .gaming {
    width: 54px;
    display: flex;
    align-items: center;
  }
  .backlight,
  .gaming {
    position: relative;
  }
  .kreoParent {
    width: 167px;
    flex-direction: column;
    gap: var(--gap-7xs);
    color: var(--color-dimgray);
  }
  .frameParent,
  .kreoParent,
  .productDetails {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frameParent {
    flex-direction: row;
    gap: var(--gap-smi);
    font-size: var(--font-size-3xs);
    font-family: var(--font-inter);
  }
  .productDetails {
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .type {
    margin: 0;
    font-size: var(--font-size-mini);
    font-weight: 400;
    font-family: var(--font-audiowide);
    text-align: left;
  }
  .type,
  .whiteBacklight {
    position: relative;
  }
  .whiteBacklightWrapper {
    cursor: pointer;
    border-radius: var(--br-38xl);
    background-color: var(--color-deepskyblue);
    border: 1px solid var(--color-deepskyblue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-8xs) var(--padding-sm);
  }
  .rgbBacklight {
    position: relative;
  }
  .frameGroup,
  .rgbBacklightWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .rgbBacklightWrapper {
    cursor: pointer;
    border-radius: var(--br-38xl);
    border: 1px solid var(--color-silver);
    justify-content: center;
    padding: var(--padding-8xs) var(--padding-sm);
    color: var(--color-gray-500);
  }
  .frameGroup {
    justify-content: flex-start;
    gap: var(--gap-6xs);
    color: var(--color-white);
  }
  .blueSwitch {
    position: relative;
  }
  .blueSwitchWrapper {
    cursor: pointer;
    border-radius: var(--br-38xl);
    border: 1px solid var(--color-silver);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-8xs) var(--padding-sm);
  }
  .brownSwitch {
    position: relative;
  }
  .brownSwitchWrapper {
    cursor: pointer;
    border-radius: var(--br-38xl);
    background-color: var(--color-deepskyblue);
    border: 1px solid var(--color-deepskyblue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-8xs) var(--padding-sm);
    color: var(--color-white);
  }
  .redSwitch {
    position: relative;
  }
  .frameContainer,
  .redSwitchWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .redSwitchWrapper {
    cursor: pointer;
    border-radius: var(--br-38xl);
    border: 1px solid var(--color-silver);
    justify-content: center;
    padding: var(--padding-8xs) var(--padding-sm);
  }
  .frameContainer {
    justify-content: flex-start;
    gap: var(--gap-6xs);
    color: var(--color-gray-500);
  }
  .filter,
  .productDetailsParent {
    display: flex;
    align-items: flex-start;
  }
  .filter {
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-5xs);
    text-align: center;
    font-size: var(--font-size-3xs);
    font-family: var(--font-inter);
  }
  .productDetailsParent {
    position: absolute;
    top: 307px;
    left: 1px;
    width: 668px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-audiowide);
  }
  