.about {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .loremIpsumDolor {
    margin-bottom: 0;
  }
  .loremIpsumDolorSitAmetCo {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-mini);
  }
  .blankLine {
    margin: 0;
  }
  .loremIpsumDolor1 {
    margin-bottom: 0;
  }
  .loremIpsumDolorSitAmetCo1 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-mini);
  }
  .blankLine1 {
    margin: 0;
  }
  .loremIpsumDolor2 {
    margin-bottom: 0;
  }
  .loremIpsumDolorSitAmetCo2 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-mini);
  }
  .blankLine2 {
    margin: 0;
  }
  .loremIpsumDolor3 {
    margin-bottom: 0;
  }
  .loremIpsumDolorSitAmetCo3 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-mini);
  }
  .blankLine3 {
    margin: 0;
  }
  .loremIpsumDolor4 {
    margin-bottom: 0;
  }
  .loremIpsumDolorSitAmetCo4 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-mini);
  }
  .blankLine4 {
    margin: 0;
  }
  .loremIpsumDolorSitAmetCo5 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-mini);
  }
  .loremIpsumDolorContainer {
    width: 668px;
    position: relative;
    display: inline-block;
    height: 377px;
    flex-shrink: 0;
  }
  .loremIpsumDolorSitAmetCoWrapper,
  .productDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .loremIpsumDolorSitAmetCoWrapper {
    width: 668px;
    font-size: var(--font-size-2xs);
    font-family: var(--font-inter);
  }
  .productDetails {
    position: absolute;
    top: 690px;
    left: 1px;
    gap: var(--gap-5xs);
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-audiowide);
  }
  