.productParent {
    width: 1110px;
    height: 1110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    font-size: var(--font-size-3xs);
    color: var(--color-gray-500);
    font-family: var(--font-inter);
  }
  