.image12Icon,
.image13Icon,
.image14Icon,
.image15Icon,
.image16Icon,
.image17Icon {
  width: 60px;
  position: relative;
  border-radius: var(--br-5xs);
  height: 60px;
  object-fit: cover;
}
.image12Parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.image18Icon {
  width: 580px;
  position: relative;
  border-radius: var(--br-5xs);
  height: 580px;
  object-fit: cover;
}
.images {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}

@media screen and (min-width: 1200px) {

  .image18Icon {
    width: 410px;
    height: 410px;
  }
  
    }
    