.detailsChild,
.detailsInner,
.detailsItem {
  position: absolute;
  top: 285.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 669px;
  height: 1px;
}
.detailsInner,
.detailsItem {
  top: 437.5px;
}
.detailsInner {
  top: 668.5px;
}
.groupChild,
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
}
.groupChild {
  background: linear-gradient(-90deg, #fff, rgba(255, 255, 255, 0));
  width: 106px;
  height: 255px;
}
.groupItem {
  border-radius: 50%;
  background-color: var(--color-deepskyblue);
  width: 21.8px;
  height: 22px;
}
.vectorIcon {
  position: absolute;
  top: 7.5px;
  left: 10px;
  width: 4.4px;
  height: 6.6px;
  object-fit: contain;
}
.ellipseParent,
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 116px;
  left: 51px;
  width: 21.8px;
  height: 22px;
}
.rectangleParent {
  top: 0;
  left: 591px;
  width: 106px;
  height: 255px;
}
.frameParent {
  position: absolute;
  top: 459px;
  left: 0;
  width: 669px;
  height: 189px;
  overflow: hidden;
}
.details {
  width: 669px;
  position: relative;
  height: 1094px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-audiowide);
}
