.maskGroupIcon {
    width: 1665px;
    position: relative;
    height: 141px;
    object-fit: cover;
  }
   
  @media screen and (min-width: 1200px) {

.maskGroupIcon{
width:1490px;
/* left:90px; */
border-radius: 20px;

}

  }
  