.exploreProductsParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
    text-align: center;
    font-size: var(--font-size-21xl);
    color: var(--color-gray-500);
    font-family: var(--font-audiowide);
  }
  